.image-user{
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 10px;
}

.image-user img{
    width: 75px;
    height: auto;
}
.username{
    margin-top: 10px;
    font-size: 12px;
}

.date{
    color: gray;
}

.item-publication{
    margin-top: .50rem;
}

.publication-text{
    font-size: 16px;
}



.card-img-top{
    max-width: 200px;
    align-self: center;
    text-align: center;
    margin-bottom: .50rem;
}